.title {
    text-align: center;
    margin-top: 5%;
}

body {
    background-color: #FFF6D5;
    font-family: monospace;
}

.description {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 150px;
}

@media (max-width: 650px) {
    .icon {
        width: 100%;
    }
}

.weapon {
    margin: 10px;
    padding: 50px 20px 50px 20px;
    border-radius: 20px;
    border-style: none;
    cursor:pointer;
}

.weapon:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.restart {
    padding: 10px;
    background-color: black;
    color: white;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor:pointer;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    align-items: center;
}

.message{
    text-align: center;
}

.computer {
    width: 40px;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
}

.scorebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats {
    margin: 10px;
    padding: 50px 20px 50px 20px;
    border-radius: 20px;
    border-style: none;
    width: 570px;
}

@media (max-width: 650px) {
    .stats {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 20px;
    bottom: 0px;
}

